<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8" />
    <title>SEEDS Discord Bot</title>
    <!-- Search Engine -->
    <meta
      name="description"
      content="SEEDS Discord Bot"
    />
    <meta
      name="image"
      content="https://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Froboticon.png"
    />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="SEEDS Discord Bot" />
    <meta
      itemprop="description"
      content="Build a Discord Bot on Glitch with this interactive install guide"
    />
    <meta
      itemprop="image"
      content="https://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Froboticon.png"
    />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="SEEDS Discord Bot" />
    <meta
      name="twitter:description"
      content="Build a Discord Bot on Glitch with this interactive install guide"
    />
    <meta name="twitter:site" content="@glitch" />
    <meta
      name="twitter:image:src"
      content="https://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Froboticon.png"
    />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="SEEDS Discord Bot" />
    <meta
      name="og:description"
      content="Build a Discord Bot on Glitch with this interactive install guide"
    />
    <meta
      name="og:image"
      content="http://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Froboticon.png"
    />
    <meta name="og:url" content="http://seeds-discord-bot.glitch.me/" />
    <meta name="og:type" content="website" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link
      href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>

  <body>
    <header>
      <h1>SEEDS Discord Bot</h1>
    </header>
    <main>
      <section>
        <div class="nes-balloon from-left">
          <p>
            Welcome!  
          </p>
        </div>
      </section>


      <section>
        <div class="nes-container is-light with-title">
          <h2 class="title">Code Your Bot</h2>
          <i class="nes-jp-logo"></i>
          <p>
            Head to the project's
            <a href="https://glitch.com/edit/#!/seeds-discord-bot?path=readme.md:2:0" id="readme-file-link">Readme.md</a> for info about the
            how the code works and how to turn it into the bot of your dreams!
          </p>
        </div>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>! <a href="https://github.com/glitchdotcom/starter-discord">Feedback? Bugs? Open an issue or PR on GitHub.</a></footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
